body {
    background-image: url(https://i.pinimg.com/1200x/75/60/4f/75604f31d9f3830e86eea91d054a066a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

header {
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.logo {
    height: 140px;
}

.nav {
    list-style: none;
}

.left {
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 50px;
    font-size: 18px;
    font-family: verdana;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 320px;
    padding-bottom: 320px;
}

.home {
    color: white;
    font-family: verdana;
    font-size: 35px;
}

.section-2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5%;
    padding-top: 40px;
    background-color: white;
    
}

.indoors {
    height: 800px;
    width: 800px;
    padding-right: 25px;
}

.words {
    padding-left: 25px;
}

footer {
    padding-bottom: 50px;
    background: white;
    display: flex;
    justify-content: center;
}

.outdoors {
    width: 800px;
}
