

body {
    background-image: url(https://i.pinimg.com/1200x/75/60/4f/75604f31d9f3830e86eea91d054a066a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

header {
    min-height: 120px;
    display: flex;
    background-color: white;
    justify-content: space-between;
}


.nav {
    list-style: none;
}

.left {
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
    margin-right: 1%;
    gap: 50px;
    font-size: 18px;
    font-family: verdana;
}

a:visited {
    color: black;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 320px;
    padding-bottom: 320px;
}

.home {
    color: white;
    font-family: verdana;
    font-size: 35px;
}

.section-2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5%;
    padding-top: 40px;
    background-color: white;
    
}

.indoors {
    height: 800px;
    width: 800px;
    padding-right: 25px;
}

.words {
    font-size: 22px;
    padding-left: 25px;
}

footer {
    position: relative;
    width: 100%;
    text-align: center;
    background: white;
    padding-bottom: 0px;
}

.outdoors {
    width: 50%;
    height: 60vh;
}

.text-container {
    position: absolute;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

button {
    border: none;
    color: white;
    background-color: black;
    padding: 10px;
    cursor: pointer;
}

h1 {
    font-weight: normal;
}

.end {
    margin-top: 20px;
    padding: 20px;
    color: white;
    background: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1380px) {
    body {
        min-width: 1380px;
    }
 }

 @media screen and (max-width: 475px) {
    body {
        min-width: 1380px;
        max-height: 635px;
    }
 }
 
