body {
    background-image: url(https://i.pinimg.com/1200x/75/60/4f/75604f31d9f3830e86eea91d054a066a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: white;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.borders {
    position: relative;
    border: 2px solid rgb(20, 27, 35);
    border-radius: 10px;
    margin: 5%;
    padding: 2px;
    background-color: rgb(238, 233, 227);
  }

.logo {
    height: 120px;
}

.left {
    align-items: center;
}
.right {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: verdana;
}

.right a {
    padding: 0 30px;
    height: 124px;
    display: flex;
    align-items: center;
}

.right a:hover {
    background-color: #f0f0f0;
}

.menu {
    padding: 0 30px;
    height: 60px;
    display: none;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    font-family: verdana;
    font-size: 18px;
    backdrop-filter: blur(10px);
}

.sidebar a {
    padding: 0 30px;
    height: 74px;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: #f0f0f0;
}


a:visited {
    color: black;
}

a:link {
    color: black;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 320px;
    padding-bottom: 320px;
}

.home {
    color: white;
    font-family: verdana;
    font-size: 35px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white; 
}

.section-3 {
    display: flex;
    background-color: white;
    flex-direction: column;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    justify-content: center;
}

.section-4 {
    display: flex;
    background-color: white;
    flex-direction: column;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

.image {
    background-image:url(https://i.pinimg.com/1200x/19/f6/c6/19f6c66ba46613338347c917d4b0f097.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 300px;
}

.start {
    background: url(https://media.istockphoto.com/id/1990444472/photo/scandinavian-style-cozy-living-room-interior.jpg?s=1024x1024&w=is&k=20&c=kHJB-lnK-XmClW7tcWCO68POsyd6H3v0RA5IWCEODb4=);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white; 
    margin-left: 20px;
    margin-right: 20px;
}

.container-0 {
    align-items: center;
    width: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 5px;
}

.back {
    background-image:url(https://i.pinimg.com/1200x/90/78/a1/9078a1a511ee143d9db8ee6d571ceb30.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    background-image:url(https://i.pinimg.com/1200x/62/e1/97/62e1975152def5a7ced648f22a4a1b64.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-2 {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
}

.container-3 {
    background-color: rgb(227, 195, 129, 0.5);
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.words {
    font-size: 22px;
}

footer {
    padding-top: 30px;
    text-align: center;
    background: white;
    padding-bottom: 0px;
}

button {
    border: none;
    color: white;
    background-color: black;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
}

h1 {
    font-weight: normal;
}

.end {
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 2px solid black;
}

@media(max-width: 1200px) {
    .hideOnMobile{
        display: none;
    }

    .menu {
        display: block;
    }
 }

 @media(max-width: 425px) {
    .sidebar{
        width: 100%;
        align-items: center;
    }

    .words {
        font-size: 12px;
    }
 }
 
 @media(max-width: 1200px) {
    .section-2 {
        flex-direction: column;
    }

    .indoors {
        height: auto;
        width: 100%;
        padding: 0px;
    }
 }
